@using System.Diagnostics.PerformanceData
@using MSALConnect.App_GlobalResources
@using MSALConnect.Models
@using Resources


<h2>Courses</h2>
@{
    ViewBag.Title = "GetCourses";
    <ul>
        @foreach (var course in ViewBag.Courses)
        {
            
            string courseName = @course.name;
            <li>  @Html.ActionLink(courseName, "Course_Page", new { id = @course.id })</li>

        }
    </ul>

}