.listProjects p{
    width: 50px;
    visibility: hidden;
}
.boxList{
    margin: 1.9%;
    width: 20%;    
    list-style: none;
    float: left;
}
.boxList a{
    color: black;
    display: block;
    height: 130px;
    padding-top: 27%;
    padding-left: 20%;
    padding-right: 20%;
    overflow: hidden;
    font-size: 20px;
    text-align: center;
}
.boxList a:hover{
    color: darkslategray;
    text-decoration: none;
}


