body {
}
.color {
    color: red;
}
.navbarLeft{
    width: 20%;
    height: 100%;
    float: left;
    background-color:rgb(34, 34, 34);
    background-image:linear-gradient(rgb(60, 60, 60) 0px, rgb(34, 34, 34) 100%);
    background-repeat: repeat-x;
    border-bottom-color:rgb(51, 51, 51);
    position:fixed;
    z-index:999; 
    overflow:hidden;
    text-align: center;
    padding: 3% 0% 0% 0% ;
    font-size: 1.2vw;
    flex: auto;
    }

.getCorsesUl {
    list-style-type: none;
    padding: 25% 0% 0% 0% ;
}


div.navbarLeft a {
    display: block;
    color:rgb(135,130,129);
    text-align: center;
    padding: 3%;
    
    text-decoration: none;
}

div.navbarLeft a {
    display: block;
    color:rgb(135,130,129);
    text-align: center;
    padding: 3%;
    
    text-decoration: none;
}

div.navbarLeft a {
    text-decoration: none;
}

 li a:hover {
    color:white ;
    border-bottom: black 1px solid;
    
}

