@using System.Diagnostics.PerformanceData
@using MSALConnect.App_GlobalResources
@using MSALConnect.Models
@using Resources


<h2>Courses 667</h2>
@{
    @*ViewBag.Title = "Courses";
    <ul>
        @foreach (var course in ViewBag.Courses)
        {
            <li><a href="#">@course.name</a></li>
        }
    </ul>*@

}