@using System.Diagnostics.PerformanceData
@using MSALConnect.App_GlobalResources
@using MSALConnect.Models
@using Resources


<h2>Feed de noticias</h2>

<p>quis noticias</p>

<link href="../../Styles/Home.css" type="text/css" rel="stylesheet" />


    @foreach (var doubt in ViewBag.Doubts)
    {
        <div class="contentDoubts">
           
            <h2>@doubt.question</h2>
            <h3>@doubt.content</h3>

        </div>

    }
   