<!DOCTYPE html>
<html>
<head>
    <link href="../../Styles/Course_Projects.css" type="text/css" rel="stylesheet" />

    @{
        var courseName = Session["CorseNameInProjects"];
        string title = "Projetos de " + @courseName;
        ViewBag.Title = title;
        var courseId = Session["getCoursesId"];
        Session["getCoursesState"] = @courseId;
    }
</head>
<body>
    <div class="contain">
        <h2>Projetos de @courseName</h2>
        <p></p>
        <!-- UPLOAD DE FICHEIROS -->
        <div class="newProject">
            <h4>Adicionar um novo Projecto:</h4>
            @using (Html.BeginForm("uploadFile", "Projects", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input id="search" type="file" name="file" />
                <input id="submit" type="submit" value="Submeter" />
            }
        </div>
        <!-- ---------------- -->
        <div class="listProjects">
            <ul>
                @foreach (var projeto in ViewBag.Projetos)
                {
                    string n = projeto.name;
                    string p = projeto.filePath;
                    <li class="boxList">@Html.ActionLink(n, "ShowProject", "Projects", new { pathName = p, fileName = n}, null)</li>
                }

            </ul>
            <p>asdfda</p>
        </div>
        <div>
            
        </div>
    </div>
</body>
</html>
