<!DOCTYPE html>
<html>
    <head>

        @{
            ViewBag.Title = "Projetos da Disciplina";
            var courseName = Session["CorseNameInProjects"];
        }
        <link rel="stylesheet" type="text/css" href="../../App_GlobalResources/Content/ShowProjetos.css">
    </head>
    <body>
        <h2>Projetos da Disciplina</h2>
        <p>@courseName</p>
        <!-- UPLOAD DE FICHEIROS -->
        @using (Html.BeginForm("uploadFile", "Projects", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="file" />
            <input type="submit" value="OK" />
        }
        <!--  ---------------- -->
    <ul>
        @foreach (var projeto in ViewBag.Projetos)
        {
            string[] slicedPath;

            slicedPath = projeto.Split('\\');
            @Html.ActionLink(slicedPath[11],  "ShowProject", "Projects", new {pathName = projeto}, null)

        }
       
    </ul>
    </body>
</html>
