<!DOCTYPE html>
<html>
<head>
    <link href="../../Styles/General.css" type="text/css" rel="stylesheet" />
    <link href="../../Styles/Course_Projects.css" type="text/css" rel="stylesheet"/>


    @{
        var courseName = Session["CorseNameInProjects"];
        string title = "Projetos de " + @courseName;
        ViewBag.Title = title;
        var courseId = Session["getCoursesId"];
        Session["getCoursesState"] = @courseId;
    }
</head>
<body>
    <div class="contain">
        <h2>Projetos de @courseName</h2>
        <!-- UPLOAD DE FICHEIROS -->
        <div class="border width95">
            @using (Html.BeginForm("uploadFile", "Projects", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <h4>Adicionar um novo Projecto:</h4>
                <br>
                <h5>Nome do Projeto:</h5>
                <input size="90" name="nameWork" id="nameWork" placeholder="escreva aqui o nome do projeto" type="text"/>
                <h5>Descrição do Projeto:</h5>
                <textarea cols="90" name="content" id="content" placeholder="escreva aqui a descrição do projeto" type="textarea"></textarea>
                <h5>Escolha o Projeto:</h5>
                <input id="search" type="file" name="file" />
                <input id="submit" type="submit" value="Submeter" />
            }
        </div>
        <br>
        <hr />
        <br>
        <div class="listProjects">
            <ul>
                @foreach (var project in ViewBag.Projetos)
                {
                    string n = project.nameWork;
                    var id = project.workID;
                    <li class="border boxList">@Html.ActionLink(n, "ShowProject", "Projects", new { id = @id}, null)</li>
                }

            </ul>
            <p>asdfda</p>
        </div>
        <div>
            
        </div>
    </div>
</body>
</html>
