@{
    ViewBag.Title = "ShowProject";
}
<html>
<head>
    <link href="../../Styles/ShowProject.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="contain">
        <h2>ShowProject</h2>
        @{
            string path = ViewBag.PathName;
            string name = ViewBag.fileName;
            @Html.ActionLink(name, "Download", "Projects", new { pathName = path, fileName = name }, null)
        }
    </div>
</body>
</html>