@{
    ViewBag.Title = "ShowProject";
}
<html>
<head>
    @Styles.Render("~/Content/ShowProjetos.css")
</head>
<body>
    <h2>ShowProject</h2>
    @{
        string[] slicedPath;

        slicedPath = @ViewBag.PathName.Split('\\');
        string fileName = slicedPath[slicedPath.Length - 1];
        @Html.ActionLink(fileName, "Download", "Projects", new
        {
            pathName = ViewBag.PathName,
            fileName = fileName }, null)
    }
</body>
</html>